<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Server=tcp:lifeplusplus.database.windows.net,1433;Initial Catalog=fyp1;Persist Security Info=False;User ID= /*ENTER HERE*/ ;Password= /*ENTER HERE*/ ;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
